/*
  1.  Includes
  2.  Header
  3.  Slider
  4.  About us
  5.  Catalog
*/

/* 1.  Includes */
@import "../libs/reset/reset";
@import "./import";
@import "./variables";
@import "../libs/burger/burger";
@import "../libs/scroll-to-top/scroll-to-top";
@import "../../node_modules/owl.carousel/dist/assets/owl.carousel.min";

picture {
  display: inline-block;
}

a {
  text-decoration: none;
}

picture,
img {
  max-width: 100%;
}

html {
  font-size: 14px;
}

body {
  line-height: $font-size;
  font-size: $font-size;
  color: $font-color;
  font-family: 'Roboto', sans-serif;
}

@keyframes revealRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes revealLeft {
  0% {
    opacity: 0;
    transform: translateX(100%)
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes line {
  0% {top:0}
  100% {top:10rem}
}

@keyframes reveal {
  0%{
    opacity:0;
    transform:translateY(-100%)
  }
  100%{
    opacity:1;
    transform:translateY(0)
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  @media (min-width: $screen-md) {
    animation: pulse 2s infinite;
  }
}

.section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;

  @media (min-width: $screen-md) {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}

h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 100;

  @media (min-width: $screen-md) {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
}

p {
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5rem;
  text-align: left;

  @media (min-width: $screen-md) {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
  }
}

.font-gold {
  color: $gold;
}

.font-regular {
  font-weight: 300;
}

.social {
  margin-right: 2rem;

  &__item {
    display: inline-block;
    padding: 0.6rem .7rem .6rem .7rem;
    border-radius: 50%;
    border: 1px solid rgba(196,196,196,.3);
    transition: .2s;

    &:hover {
      border-color: $gold;
      background-color: $gold;
    }

    svg {
      path {
        fill: $white;
      }
    }
  }
}

.animate-revealright {
  opacity:0;
  animation: revealRight 1s cubic-bezier(0,1,.5,1) 1 normal forwards;
  animation-delay: 1s;
}

.mov {
  opacity: 0;
}

.no-delay {
  animation-delay: unset;
}

.animate-revealleft {
  opacity:0;
  animation: revealLeft 1s cubic-bezier(0,1,.5,1) 1 normal forwards;
  animation-delay: 1s;
}

.revealright-lg-off {
  @media (min-width: $screen-md) {
    opacity: 1;
    animation: unset;
  }
}

/* 2.  Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $white;
  z-index: 2;

  @media (min-width: $screen-md) {
    background-color: transparent;
  }

  @media (min-width: $screen-md) {
    &.sticky {
      background-color: $white;
      color: $font-color;

      .header__logo source,
      .header__logo img {
        max-width: 100px;
      }

      .header__bottom-container {
        border-top: solid 1px #ccc;
      }

      .header__menu .menu {
        li {
          a {
            color: $font-color;

            &:hover {
              color: $gold;
            }
          }
        }
      }

      .header__phone {
        color: $font-color;
      }

      .header__login {
        svg {
          path {
            fill: $font-color;
          }
        }
      }

      .social__item {
        border-color: #ccc;

        &:hover {
          border-color: $gold;

          svg {
            path {
              fill: $white;
            }
          }
        }

        svg {
          path {
            fill: $font-color;
          }
        }
      }

      .header__search {

        .searchform {
          &:after {
            background: url("../img/search-dark.png");
            background-size: cover;
          }
        }

        input[type=text] {
          background-color: rgba(204, 204, 204, .2);
          color: $font-color;

          &::placeholder {
            color: $font-color;
          }
        }

        .header__language-switcher {
          select {
            color: $font-color;
          }
        }
      }
    }
  }

  &__bottom-container {
    position: relative;
  }

  &__top-bar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: none;

    @media (min-width: $screen-md) {
      display: flex;
    }
  }

  .animate-reveal-lg {
    @media (min-width: $screen-md) {
      opacity: 0;
      animation-delay: 1s;
      animation: reveal 1s cubic-bezier(0,1,.5,1) 1 normal forwards;
    }
  }

  &__contacts {
    display: flex;
    justify-content: right;
    align-items: center;
  }

  &__phone {
    color: $white;
    margin-right: 1rem;
    font-size: 1rem;

    &:hover {
      color: $white;
    }
  }

  &__search {
    align-items: center;

    .searchform {
      margin-right: 1rem;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        top: 8px;
        right: 10px;
        width: 18px;
        height: 18px;
        background: url("../img/search.png");
        background-size: cover;
      }
    }

    .screen-reader-text,
    input[type="submit"] {
      display: none;
    }

    input[type="text"] {
      color: $white;
      font-size: .9rem;
      background-color: rgba(255, 255, 255, .2);
      border: 0;
      padding: .7rem 2.5rem .7rem 1rem;

      &:focus {
        outline: 0;
      }

      &::placeholder {
        color: $white;
        text-transform: uppercase;
      }
    }

    .header__language-switcher {
      select {
        color: $white;
        cursor: pointer;

        option {
          color: $black;
        }
      }
    }
  }

  &__login {
    svg {
      path {
        fill: $white;
      }
    }
  }

  &__search {
    display: flex;
  }

  &__logo {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

    &--light {
      display: none;

      @media (min-width: $screen-md) {
        display: block;

        &.sticky {
          display: none;
        }
      }
    }

    &--dark {
      @media (min-width: $screen-md) {
        display: none;

        &.sticky {
          display: block;
        }
      }
    }
  }

  &__language-switcher {

    select {
      border: 0;
      background: transparent;
      text-transform: uppercase;
      font-size: .8rem;
      outline: 0;
    }
  }

  &__logo {
    source,
    img {
      max-width: 100px;

      @media (min-width: $screen-md) {
        max-width: 140px;
      }
    }
  }

  &__nav {
    padding: 2rem 0;
    display: block;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,.1);
    border-top: 1px solid rgba(255,255,255,.1);
  }

  &__menu {
    display: none;
    justify-content: center;
    align-items: center;

    @media (min-width: $screen-md) {
      display: flex;
    }

    & > div {
      height: 100%;
    }

    &--left {
      .menu {
        justify-content: right;
      }
    }

    &--right {
      .menu {
        justify-content: left;
      }
    }

    .menu {
      display: flex;
      align-items: center;
      height: 100%;

      .sub-menu {
        display: none;
      }

      li {
        margin-right: 3rem;

        &:last-child {
          margin-right: 0;
        }

        &.current-menu-parent {
          a {
            color: #d5d5d5;
          }
        }

        &.menu-item-has-children {
          position: relative;

          .sub-menu {
            &:hover {
              display: block;
            }
          }

          &:hover {
            .sub-menu {
              display: block;
              position: absolute;
              top: 13px;
              left: -50%;
              width: 340px;
              padding-top: 2rem;

              li {
                background-color: #3f3f3f;
                padding: 1rem 2rem;
                margin-right: 0;

                &.current-menu-item {

                   a {
                     color: #d5d5d5;
                   }
                }

                a {
                  color: $white;
                  transition: .2s;

                  &:hover {
                    color: #d5d5d5;
                  }
                }
              }
            }
          }
        }

        &.current-menu-item {
          a {
            color: #d5d5d5;
          }
        }

        a {
          color: $white;
          text-transform: uppercase;
          font-size: .9rem;
          transition: color .2s;

          &:hover {
            color: #d5d5d5;
          }
        }
      }
    }
  }
}

/* 3.  Slider */
.owl-carousel {
  margin-top: $header;
  overflow: hidden;

  @media (min-width: $screen-md) {
    margin-top: 0;
  }

  .owl-stage-outer,
  .owl-item {
    width: 100%;
  }

  &__item {
    position: relative;
  }

  .owl-nav {
    display: none;
  }

  .owl-dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;

    .owl-dot {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: $white;
      margin-right: 5px;

      @media (min-width: $screen-md) {
        margin-right: 15px;
      }

      &:hover,
      &.active {
        background-color: #d5d5d5;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__line {
    position: absolute;
    content: '';
    bottom: -17rem;
    left: 50%;
    height: 10rem;
    width: 2px;
    background-color: rgba(255,255,255,.35);
    overflow: hidden;
    display: none;

    @media (min-width: $screen-md) {
      display: block;
    }

    &:before {
      content: "";
      position: absolute;
      width: 2px;
      background-color: #fff;
      height: 4.5rem;
      animation: line 2s infinite;
    }
  }

  &__overlay {
    height: 250px;

    @media (min-width: $screen-sm) {
      height: 450px;
    }

    @media (min-width: $screen-md) {
      height: 650px;
    }

    @media (min-width: $screen-lg) {
      height: 850px;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $black;
      opacity: .3;
    }

    picture {
      width: 100%;
      height: 100%;

      source,
      img {
        max-width: unset;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 1.4rem;

    @media (min-width: $screen-sm) {
      font-size: 3rem;
    }

    @media (min-width: $screen-lg) {
      margin-bottom: 2.2rem;
    }
  }

  &__about {
    font-size: 1rem;
    margin-bottom: 1.2rem;
    font-weight: 100;
    text-align: center;

    @media (min-width: $screen-sm) {
      font-size: 1.4rem
    }

    @media (min-width: $screen-lg) {
      margin-bottom: 2.5rem;
    }
  }

  &__btn {
    border: solid 1px transparent;
    padding: .5rem 1rem;
    color: $white;
    display: inline-block;
    transition: border-color .2s;
    font-weight: 100;

    @media (min-width: $screen-sm) {
      font-size: 1.4rem;
    }

    @media (min-width: $screen-sm) {
      padding: 1rem 2rem;
    }

    &:hover {
      border-color: $white;
      color: $white;
    }
  }

  &__description {
    text-align: center;
    color: $white;
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;

    @media (min-width: $screen-sm) {
      top: 10rem;
    }

    @media (min-width: $screen-md) {
      top: 17rem;
    }

    @media (min-width: $screen-lg) {
      top: 23rem;
    }
  }
}

/* 4.  About us */
.about-us {
  &__paragraph {
    margin-bottom: 2rem;

    @media (min-width: $screen-md) {
      margin-bottom: 4rem;
    }
  }
}

/* 5.  Catalog */
.catalog {
  &__wrapper {
    border: 1px solid #eee;
    padding: 2rem 1rem;
    display: block;

    @media (min-width: $screen-md) {
      padding: 3rem 2rem;
    }
  }

  &__item {
    margin-bottom: 2rem;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__image {
    margin-bottom: 2rem;
  }

  &__title {
    font-size: 1.8rem;
    line-height: 1.8rem;
    margin-bottom: 2rem;
    color: $font-color;
  }

  &__price {
    color: $font-color;
    text-transform: uppercase;
  }

  &__buy {
    padding: 1rem;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    display: block;
    text-transform: uppercase;
    color: $font-color;
    font-size: .9rem;
    transition: .2s;

    &:hover {
      color: $white;
      background-color: $gold;
    }
  }
}