/*
  1.  Includes
  2.  Header
  3.  Slider
  4.  About us
  5.  Catalog
  6.  Why us?
  7.  Clients
  8.  Last news
  9.  About product
  10. Feedback form
  11. Footer
  12. Breadcrumbs
  13. Write to
  14. Map
  15. Contact form
  16. Paragraph
  17. Cinnosty
  18. Akcija
  19. Work zone
  20. Vidguk
  21. WC shop
*/
/* 1.  Includes */
@import "../libs/reset/reset";
@import "./import";
@import "./variables";
@import "../libs/burger/burger";
@import "../libs/scroll-to-top/scroll-to-top";
@import "../../node_modules/owl.carousel/dist/assets/owl.carousel.min";

picture {
  display: inline-block;
}

a {
  text-decoration: none;
}

strong {
  font-weight: 500;
}

picture,
img {
  max-width: 100%;
}

html {
  font-size: 14px;
}

body {
  line-height: $font-size;
  font-size: $font-size;
  color: $font-color;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

@keyframes revealRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  transition-duration: 1s;
}

@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeftBig {
  animation-name: fadeInLeftBig;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fadeInLeftBigFast {
  animation-name: fadeInLeftBig;
  animation-duration: .2s;
  animation-fill-mode: both;
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  animation-name: bounce;
  transform-origin: center bottom;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInRightBig {
  from {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRightBig {
  animation-name: fadeInRightBig;
  animation-duration: 1s;
  animation-fill-mode: both;
}


@keyframes revealLeft {
  0% {
    opacity: 0;
    transform: translateX(100%)
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes line {
  0% {
    top: 0
  }
  100% {
    top: 10rem
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(-100%)
  }
  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  @media (min-width: $screen-md) {
    animation: pulse 2s infinite;
  }
}

.section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;

  @media (min-width: $screen-md) {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}

h2,
h3 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 400;
  line-height: 2.5rem;

  @media (min-width: $screen-md) {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
}

p {
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5rem;
  text-align: left;

  @media (min-width: $screen-md) {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
  }
}

.article-line {
  position: relative;

  @media (min-width: $screen-md) {
    &:before {
      content: "";
      position: absolute;
      top: 19px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #ccc;
      z-index: -1;
    }
  }

  h2,
  h3 {
    display: inline-block;
    background-color: $white;
    padding: 0 3rem;
  }
}

.nav-tabs {
  display: flex;
  flex-wrap: unset;
  width: 100%;

  .nav-link {
    width: 100%;
    position: relative;
    color: rgba(170, 170, 170, .9);
    background-color: transparent;
    border-top: 1px solid rgba(170, 170, 170, .4);
    border-left: solid 1px rgba(170, 170, 170, .4);
    border-radius: 0;
    font-weight: 300;
    font-size: .9rem;
    height: 6rem;
    transition: background-color .3s;

    @media (min-width: $screen-md) {
      font-size: 1.2rem;
    }

    &:hover {
      border-color: rgba(170, 170, 170, .4);
      background-color: rgba(255, 255, 255, .2);
      color: $white;
    }

    &:last-child {
      border-right: solid 1px rgba(170, 170, 170, .4);
    }

    &.active {
      color: rgba(170, 170, 170, .9);
      background-color: transparent;
      border: none;
      border-left: solid 1px rgba(170, 170, 170, .4);
      border-top: 2px solid #ab7225;
    }
  }
}

.font-gold {
  color: $gold;
  text-transform: uppercase;
}

.font-regular {
  font-weight: 300;
}

.header__currency-switcher {
  margin-left: 1rem;
  padding-top: 2px;

  .wcml-dropdown {
    max-width: 49px;
  }

  .wcml_currency_switcher {
    margin: 0;
    width: unset;

    .wcml-cs-submenu {
      color: #333;
      border-top: none;

      li {
        &:hover {
          background-color: #1e90ff;
          color: white;
          border-color: #333;
          border-top: solid 1px #333;
        }
      }
    }

    .wcml-cs-active-currency {
      text-transform: uppercase;
      font-size: .8rem;
      background-color: transparent;
      border: none;
      color: white;

      .wcml-cs-item-toggle {
        color: white;
      }

      &:hover,
      &:focus {
        background-color: transparent;
      }
    }
  }
}

.wcml-dropdown a.wcml-cs-item-toggle:after {
  content: "";
  vertical-align: unset;
  display: block;
  border: none;
  border-top: unset;
  position: absolute;
  top: 9px;
  right: 10px;
  height: 2px;
  width: 6px;
  background: #fff;
  transform: rotate(45deg);
}

.wcml-dropdown a.wcml-cs-item-toggle:before {
  content: "";
  vertical-align: unset;
  display: block;
  border: none;
  border-top: unset;
  position: absolute;
  right: 6px;
  top: 9px;
  height: 2px;
  width: 6px;
  background: #fff;
  transform: rotate(138deg);
}

.social {
  margin-right: 2rem;

  &__item {
    display: inline-block;
    padding: 0.6rem .7rem .7rem .7rem;
    border-radius: 50%;
    border: 1px solid rgba(196, 196, 196, .3);
    transition: .2s;

    &:hover {
      border-color: $gold;
      background-color: $gold;
    }

    svg {
      path {
        fill: $white;
        stroke: $white;
      }
    }
  }
}

.animate-revealright {
  opacity: 0;
  animation: revealRight 1s cubic-bezier(0, 1, .5, 1) 1 normal forwards;
  animation-delay: 1s;
}

.mov,
.mov-left,
.mov-right,
.mov-bounce {
  opacity: 0;
}

.no-delay {
  animation-delay: unset;
}

.animate-revealleft {
  opacity: 0;
  animation: revealLeft 1s cubic-bezier(0, 1, .5, 1) 1 normal forwards;
  animation-delay: 1s;
}

.revealright-lg-off {
  @media (min-width: $screen-md) {
    opacity: 1;
    animation: unset;
  }
}

/* 2.  Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $white;
  z-index: 2;

  @media (min-width: $screen-md) {
    background-color: transparent;
  }

  @media (min-width: $screen-md) {
    &.sticky {
      color: $font-color;

      .header__currency-switcher {
        margin-left: 1rem;
        padding-top: 2px;

        .wcml-dropdown {
          max-width: 49px;
        }

        .wcml_currency_switcher {
          margin: 0;
          width: unset;

          .wcml-cs-submenu {
            color: #333;
          }

          .wcml-cs-active-currency {
            text-transform: uppercase;
            font-size: .8rem;
            background-color: transparent;
            border: none;
            color: #333;

            .wcml-cs-item-toggle {
              color: #333;
            }

            &:hover,
            &:focus {
              background-color: transparent;
            }
          }
        }
      }

      .wcml-dropdown a.wcml-cs-item-toggle:after {
        content: "";
        vertical-align: unset;
        display: block;
        border: none;
        border-top: unset;
        position: absolute;
        right: 10px;
        height: 2px;
        width: 6px;
        background: #333;
        transform: rotate(45deg);
      }

      .wcml-dropdown a.wcml-cs-item-toggle:before {
        content: "";
        vertical-align: unset;
        display: block;
        border: none;
        border-top: unset;
        position: absolute;
        right: 6px;
        top: 9px;
        height: 2px;
        width: 6px;
        background: #333;
        transform: rotate(138deg);
      }

      .menu {
        li {
          &.menu-item-has-children {
            & > a {
              &:after,
              &:before {
                background-color: #3f3f3f;
              }
            }
          }
        }
      }

      .header__logo source,
      .header__logo img {
        max-width: 100px;
      }

      .header__top-wrapper {
        background-color: $white;
        border-bottom: solid 1px #ccc;
      }

      .header__bottom-container {
        background-color: $white;
      }

      .header__menu .menu {
        li {
          a {
            color: $font-color;

            &:hover {
              color: $gold;
            }
          }
        }
      }

      .header__phone {
        color: $font-color;
      }

      .header__login {
        svg {
          path {
            fill: $font-color;
            stroke: $font-color;
          }
        }
      }

      .social__item {
        border-color: #ccc;

        &:hover {
          border-color: $gold;

          svg {
            path {
              fill: $white;
            }
          }
        }

        svg {
          path {
            fill: $font-color;
          }
        }
      }

      .header__search {

        .searchform {
          &:after {
            background: url("../img/search-dark.png");
            background-size: cover;
          }
        }

        input[type=text] {
          background-color: rgba(204, 204, 204, .2);
          color: $font-color;

          &::placeholder {
            color: $font-color;
          }
        }

        .header__language-switcher {
          select {
            color: $font-color;
          }
        }
      }
    }
  }

  &__bottom-container {
    position: relative;
  }

  &__top-bar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: none;

    @media (min-width: $screen-md) {
      display: flex;
    }
  }

  .animate-reveal-lg {
    @media (min-width: $screen-md) {
      opacity: 0;
      animation-delay: 1s;
      animation: reveal 1s cubic-bezier(0, 1, .5, 1) 1 normal forwards;
    }
  }

  &__contacts {
    display: flex;
    justify-content: right;
    align-items: center;
  }

  &__phone {
    color: $white;
    margin-right: 1rem;
    font-size: 1rem;

    &:hover {
      color: $white;
    }
  }

  &__search {
    align-items: center;

    .searchform {
      margin-right: 1rem;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        top: 8px;
        right: 10px;
        width: 18px;
        height: 18px;
        background: url("../img/search.png");
        background-size: cover;
      }
    }

    .screen-reader-text,
    input[type="submit"] {
      display: none;
    }

    input[type="text"] {
      color: $white;
      font-size: .9rem;
      background-color: rgba(255, 255, 255, .2);
      border: 0;
      padding: .7rem 2.5rem .7rem 1rem;

      &:focus {
        outline: 0;
      }

      &::placeholder {
        color: $white;
        text-transform: uppercase;
      }
    }

    .header__language-switcher {
      select {
        color: $white;
        cursor: pointer;

        option {
          color: $black;
        }
      }
    }
  }

  &__login {
    svg {
      path {
        fill: $white;
      }
    }
  }

  &__search {
    display: flex;
  }

  &__logo {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

    &--light {
      display: none;

      @media (min-width: $screen-md) {
        display: block;

        &.sticky {
          display: none;
        }
      }
    }

    &--dark {
      @media (min-width: $screen-md) {
        display: none;

        &.sticky {
          display: block;
        }
      }
    }
  }

  &__language-switcher {

    select {
      border: 0;
      background: transparent;
      text-transform: uppercase;
      font-size: .8rem;
      outline: 0;
    }
  }

  &__logo {
    source,
    img {
      max-width: 100px;

      @media (min-width: $screen-md) {
        max-width: 140px;
      }
    }
  }

  &__nav {
    padding: 2rem 0;
    display: block;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    border-top: 1px solid rgba(255, 255, 255, .1);
  }

  &__menu {
    display: none;
    justify-content: center;
    align-items: center;

    @media (min-width: $screen-md) {
      display: flex;
    }

    & > div {
      height: 100%;
    }

    &--left {
      .menu {
        justify-content: right;
      }
    }

    &--right {
      .menu {
        justify-content: left;
      }
    }

    .menu {
      display: flex;
      align-items: center;
      height: 100%;

      .sub-menu {
        display: none;
      }

      li {
        margin-right: 3rem;

        &:last-child {
          margin-right: 0;
        }

        &.current-menu-parent {
          a {
            color: #d5d5d5;
          }
        }

        &.menu-item-has-children {
          cursor: pointer;
        }

        &.menu-item-has-children > a {
          pointer-events: none;
          position: relative;

          &:after,
          &:before {
            position: absolute;
            top: 5px;
            content: "";
            background-color: #fff;
            width: 7px;
            height: 2px;
            transform: rotate(45deg);
            transition: .2s;
          }

          &:after {
            right: -10px;
            transform: rotate(45deg);
          }

          &:before {
            right: -15px;
            transform: rotate(-45deg);
          }
        }

        &.menu-item-has-children.active {
          & > a {
            &:after {
              transform: rotate(135deg);
            }

            &:before {
              transform: rotate(-135deg);
            }
          }

          .sub-menu {
            justify-content: center;
            z-index: 1;
            display: flex;
            position: absolute;
            bottom: -3.5rem;
            left: 0;
            width: 100%;
            padding-top: 3.2rem;

            &:before {
              content: "";
              left: 0;
              top: 3.2rem;
              position: absolute;
              width: 100%;
              height: 59px;
              z-index: -1;
              background-color: #3f3f3f;
            }

            li {
              background-color: #3f3f3f;
              padding: 1.4rem 2rem;
              margin-right: 0;

              &.current-menu-item {

                a {
                  color: #d5d5d5;
                }
              }

              a {
                color: $white;
                transition: .2s;

                &:hover {
                  color: #d5d5d5;
                }
              }
            }
          }
        }

        &.current-menu-item {
          a {
            color: #d5d5d5;
          }
        }

        a {
          color: $white;
          text-transform: uppercase;
          font-size: .9rem;
          transition: color .2s;

          &:hover {
            color: #d5d5d5;
          }
        }
      }
    }
  }
}

/* 3.  Slider */
.owl-carousel {
  margin-top: $header;
  overflow: hidden;

  @media (min-width: $screen-md) {
    margin-top: 0;
  }

  .owl-stage-outer,
  .owl-item {
    width: 100%;
  }

  &__item {
    position: relative;
  }

  .owl-nav {
    display: none;
  }

  .owl-dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;

    .owl-dot {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: $white;
      margin-right: 5px;

      @media (min-width: $screen-md) {
        margin-right: 15px;
      }

      &:hover,
      &.active {
        background-color: #d5d5d5;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__line {
    position: absolute;
    content: '';
    bottom: -17rem;
    left: 50%;
    height: 10rem;
    width: 2px;
    background-color: rgba(255, 255, 255, .35);
    overflow: hidden;
    display: none;

    @media (min-width: $screen-md) {
      display: block;
    }

    &:before {
      content: "";
      position: absolute;
      width: 2px;
      background-color: #fff;
      height: 4.5rem;
      animation: line 2s infinite;
    }
  }

  &__overlay {
    height: 250px;

    @media (min-width: $screen-sm) {
      height: 450px;
    }

    @media (min-width: $screen-md) {
      height: 650px;
    }

    @media (min-width: $screen-lg) {
      height: 850px;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $black;
      opacity: .3;
    }

    picture {
      width: 100%;
      height: 100%;

      source,
      img {
        max-width: unset;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 1.4rem;

    @media (min-width: $screen-sm) {
      font-size: 3rem;
    }

    @media (min-width: $screen-lg) {
      margin-bottom: 2.2rem;
    }
  }

  &__about {
    font-size: 1rem;
    margin-bottom: 1.2rem;
    font-weight: 100;
    text-align: center;

    @media (min-width: $screen-sm) {
      font-size: 1.4rem
    }

    @media (min-width: $screen-lg) {
      margin-bottom: 2.5rem;
    }
  }

  &__btn {
    border: solid 1px transparent;
    padding: .5rem 1rem;
    color: $white;
    display: inline-block;
    transition: border-color .2s;
    font-weight: 100;

    @media (min-width: $screen-sm) {
      font-size: 1.4rem;
    }

    @media (min-width: $screen-sm) {
      padding: 1rem 2rem;
    }

    &:hover {
      border-color: $white;
      color: $white;
    }
  }

  &__description {
    text-align: center;
    color: $white;
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;

    @media (min-width: $screen-sm) {
      top: 10rem;
    }

    @media (min-width: $screen-md) {
      top: 17rem;
    }

    @media (min-width: $screen-lg) {
      top: 23rem;
    }
  }
}

/* 4.  About us */
.about-us {
  &__paragraph {
    margin-bottom: 2rem;

    @media (min-width: $screen-md) {
      margin-bottom: 4rem;
      line-height: 2.2rem;
    }
  }
}

/* 5.  Catalog */
.catalog {
  &__wrapper {
    border: 1px solid #eee;
    padding: 2rem 1rem;
    display: block;

    @media (min-width: $screen-md) {
      padding: 3rem 2rem;
    }
  }

  &__item {
    margin-bottom: 2rem;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__image {
    margin-bottom: 2rem;
  }

  &__title {
    font-size: 1.8rem;
    line-height: 1.8rem;
    margin-bottom: 2rem;
    color: $font-color;
  }

  &__price {
    color: $font-color;
    text-transform: uppercase;
  }

  &__buy {
    padding: 1rem;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    display: block;
    text-transform: uppercase;
    color: $font-color;
    font-size: .9rem;
    transition: .2s;

    &:hover {
      color: $white;
      background-color: $gold;
    }
  }
}

/* 6.  Why us? */
.why-us {
  position: relative;
  width: 100%;
  background: url("../img/tabs-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: $white;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
  }

  &__container {
    position: relative;
  }

  &__content {
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media (min-width: $screen-md) {
      height: 800px;
    }
  }

  &__tabs {
    overflow-x: auto;
  }

  &__article {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 2rem;

    @media (min-width: $screen-md) {
      font-size: 3rem;
    }
  }

  &__description {
    text-align: center;
    font-size: 1.3rem;
    line-height: 2rem;
    margin-bottom: 0;
  }
}

/* 7.  Clients */
.clients {

  h3 {
    @media (min-width: $screen-md) {
      margin-bottom: 4rem;
    }
  }

  &__user {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__photo {
    margin-right: 1rem;

    picture {
      source,
      img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
      }
    }
  }

  &__name {
    text-align: left;

    @media (min-width: $screen-md) {
      font-size: 1.5rem;
    }
  }

  &__buy {
    font-style: italic;
    font-size: .8rem;
    display: block;
    margin-top: .2rem;
    color: $gold;
    font-weight: 300;

    @media (min-width: $screen-md) {
      font-size: 1rem;
      margin-top: .5rem;
    }
  }

  &__description {
    margin-top: 1rem;
    font-style: italic;
    text-align: center;
    font-size: 1rem;
    line-height: 1.7rem;

    @media (min-width: $screen-md) {
      font-size: 1.3rem;
      line-height: 2rem;
      margin-top: 2rem;
    }
  }

  &__item {
    padding: 2rem 2rem 0;

    @media (min-width: $screen-md) {
      padding: 2rem 3rem 0;
    }
  }
}

/* 8.  Last news */
.last-news {

  &__item {
    margin-bottom: 2rem;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    transition: .2s;
    color: $font-color;
    text-align: left;

    &:hover {
      color: $font-color;

      h4 {
        opacity: .7;
      }
    }

    h4 {
      font-size: 2rem;
      line-height: 2rem;
      margin-bottom: 1rem;
      transition: opacity .2s;
    }

    p {
      text-align: left;
      font-size: 1rem;
      line-height: 1.5rem;
    }

    source,
    img {
      transition: .2s;
    }

    &:hover {
      source,
      img {
        opacity: .8;
        transform: scale(1.03);
      }
    }
  }

  &__photo {
    margin-bottom: 2rem;
  }

  &__all-news {
    text-transform: uppercase;
    color: $font-color;
    font-size: .9rem;
    font-weight: 500;
    transition: opacity .2s;

    &:hover {
      opacity: .8;
      color: $font-color;
    }
  }

  &__link-wrapper {
    margin-top: 3rem;
    text-align: center;
  }
}

/* 9.  About product */
.about-product {

  h3 {
    text-align: left;
  }

  &__description {
    max-height: 200px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: .2em;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: $gold;
      outline: 1px solid slategrey;
    }

    p {
      text-align: left;

      @media (min-width: $screen-md) {
        line-height: 2.2rem;
      }
    }
  }

  &__image {
    margin-bottom: 2rem;

    @media (min-width: $screen-md) {
      padding-top: 2rem;
      margin-bottom: 0;
    }
  }
}

/* 10. Feedback form */
.feedback-form {
  .wpcf7-form {
    @media (min-width: $screen-md) {
      display: flex;
      justify-content: space-between;
    }

    & > p {
      @media (min-width: $screen-md) {
        width: 22%;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .wpcf7-submit {
      background-color: transparent;
      color: $font-color;
      border: solid 1px $font-color;
      transition: .2s;
      font-size: .9rem;
      text-transform: uppercase;
      padding: .5rem 2rem;
      margin-top: 1rem;
      font-weight: 700;
      border-radius: 0;

      @media (min-width: $screen-md) {
        padding: .5rem 3.5rem;
      }

      &:hover {
        color: $white;
        background-color: $font-color;
      }
    }

    .wpcf7-not-valid-tip {
      color: $gold;
      font-size: .9rem;
    }

    .wpcf7-form-control-wrap {
      input {
        border: none;
        border-bottom: solid 1px #ccc;
        transition: .2s;
        padding: 1rem;
        width: 100%;
        font-size: 1rem;
        border-radius: 0;

        &:focus {
          outline: 0;
          border-bottom-color: $gold;
        }
      }
    }
  }

  &__help {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 2rem;

    @media (min-width: $screen-md) {
      margin-bottom: 3rem;
    }
  }
}

/* 11. Footer */
.footer {
  padding: 1rem 0 0 0;
  position: relative;
  background: url("../img/bg-footer.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center;
  background-size: cover;

  &__image {
    text-align: center;
  }

  &__logo {
    display: inline-block;
    margin-bottom: 2rem;

    source,
    img {
      max-width: 140px;
    }
  }

  &__link {
    color: $white;

    &:hover {
      color: $white;
    }
  }

  &__contact-item {
    display: flex;
    justify-content: center;
    margin-bottom: .5rem;

    &:last-child {
      margin-bottom: 2rem;

      @media (min-width: $screen-md) {
        margin-bottom: 0;
      }
    }

    span {
      font-size: 1rem;
      color: #b5b5b5;
    }
  }

  &__top-wrapp,
  &__bottom-wrapp {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    padding: 2rem 0;
  }

  &__contact {
    @media (min-width: $screen-md) {
      padding-top: 2rem;
    }
  }

  &__menu {
    text-transform: uppercase;
    font-size: .9rem;
    text-align: center;

    h4 {
      color: $white;
      margin-bottom: 1rem;
      font-size: 1rem;
      font-weight: bold;
    }
  }

  &__menu-wrapp {
    @media (min-width: $screen-md) {
      display: inline-block;
      text-align: left;
    }
  }

  .menu {
    margin-bottom: 2rem;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
    }

    li {
      margin-bottom: .2rem;

      &:last-child {
        margin-bottom: 0;
      }

      @media (min-width: $screen-md) {
        margin-bottom: .4rem;
      }

      &.current-menu-item {
        a {
          color: $gold;
        }
      }

      a {
        color: rgba(255, 255, 255, .7);
        transition: color .2s;

        &:hover {
          color: $white;
        }
      }
    }
  }

  &__after {
    padding: 1rem 0;
    background: rgba(0, 0, 0, .3);

    p {
      text-align: center;
      font-size: .8rem;
      color: rgba(255, 255, 255, 0.7);
      margin-bottom: 0;
    }
  }
}

/* 12. Breadcrumbs */
.breadcrumbs {
  padding-top: 10rem;
  padding-bottom: 3rem;
  position: relative;
  background: url("../img/bg-footer.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: center;
  text-align: center;

  @media (min-width: $screen-md) {
    padding-top: 20rem;
  }

  &__title {
    color: $white;
    font-size: 2rem;
  }

  &__nav {
    display: flex;
    justify-content: center;
    color: $white;
    margin-bottom: 2rem;
    font-size: .9rem;

    a {
      color: $white;

      &:hover {
        color: #d5d5d5;
      }
    }

    span {
      margin: 0 .3rem;
    }
  }
}

/* 13. Write to */
.write-to {
  &__article {
    font-size: 2rem;
    margin-bottom: 1rem;

    @media (min-width: $screen-md) {
      margin-bottom: 2rem;
    }
  }

  &__item {
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: $screen-md) {
      margin-bottom: 3rem;
    }
  }

  &__link {
    font-size: 2rem;
    color: $gold;

    &:hover {
      color: $gold;
    }
  }
}

/* 14. Map */
.map {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

/* 15. Contact form */
.contact-form {
  &__image {
    source,
    img {
      max-width: 140px;
      margin-bottom: 4rem;

      @media (min-width: $screen-md) {
        margin-bottom: 0;
      }
    }
  }

  &__form {

    p {
      text-align: left;
    }
  }

  &__wrapp {
    @media (min-width: $screen-md) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }

  .wpcf7-form {

    & > p {
      @media (min-width: $screen-md) {
        width: 100%;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .wpcf7-submit {
      background-color: transparent;
      color: $font-color;
      border: solid 1px $font-color;
      transition: .2s;
      font-size: .9rem;
      text-transform: uppercase;
      padding: .5rem 2rem;
      margin-top: 1rem;
      font-weight: 700;
      border-radius: 0;

      @media (min-width: $screen-md) {
        padding: .5rem 3.5rem;
      }

      &:hover {
        color: $white;
        background-color: $font-color;
      }
    }

    .wpcf7-not-valid-tip {
      color: $gold;
      font-size: .9rem;
    }

    .wpcf7-form-control-wrap {
      input,
      textarea {
        border: none;
        border-bottom: solid 1px #ccc;
        transition: .2s;
        padding: 1rem;
        width: 100%;
        font-size: 1rem;
        border-radius: 0;

        &:focus {
          outline: 0;
          border-bottom-color: $gold;
        }
      }

      textarea {
        max-height: 200px;
      }
    }
  }
}

/* 16. Paragraph */
.parahraph {
  &.section {
    padding-bottom: 0;
  }

  &__article {
    text-align: left;
  }

  &__wrapp {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__image {
    text-align: center;
    margin-bottom: 3rem;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
    }

    source,
    img {
      max-width: 60%;

      @media (min-width: $screen-md) {
        max-width: 80%;
      }
    }
  }

  &__description {
    font-weight: 300;

    @media (min-width: $screen-md) {
      text-align: left;
    }
  }
}

/* 17. Cinnosty */
.cinnosty {
  &.section {
    padding-bottom: 0;
  }

  &__box {
    margin-bottom: 3rem;
  }

  &__item {
    opacity: 0;
    padding-bottom: 4rem;
    margin-top: 6rem;
    border-bottom: 1px solid #eee;

    @media (min-width: $screen-md) {
      min-height: 214px;
    }
  }

  &__name {
    font-weight: bold;
  }

  &__article {
    margin-bottom: 4rem;
  }

  &___thumb {
    display: inline-block;
    position: relative;
    margin-bottom: 7rem;

    &:before {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      border: 2px solid #eee;
      width: 9rem;
      height: 9rem;
      transform: rotate(-45deg);
      margin-left: -4.5rem;
      margin-top: -4.5rem;
    }

    &:after {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      border: 2px solid #eee;
      width: 10rem;
      height: 10rem;
      transform: rotate(-45deg);
      margin-left: -5rem;
      margin-top: -5rem;
    }
  }
}

/* 18. Akcija */
.work-zone__wrapp {
  .akcii {
    &:first-child {
      padding-top: 0;
    }
  }
}

.akcii {
  &.section {
    padding-bottom: 0;
  }

  &__image {
    position: relative;
    margin-bottom: 2rem;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
    }
  }

  &__banner {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $gold;
    color: $white;
    margin-bottom: 0;
    min-height: 100px;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2rem;

    @media (min-width: $screen-md) {
      padding: 2rem;
    }
  }

  &__article {
    text-align: left;

    @media (min-width: $screen-md) {
      line-height: 3rem;
    }
  }

  &__description {
    @media (min-width: $screen-md) {
      text-align: left;
    }
  }
}

/* 19. Work zone */
.work-zone {

  &.section {
    padding-bottom: 0;
  }

  &__article {
    text-align: left;
    margin-bottom: 1rem;
    margin-top: 2rem;

    &:first-child {
      margin-top: 0;
    }

    &--list {
      margin-bottom: 1rem;
    }
  }

  &__description {
    text-align: left;

    &--last {
      margin-bottom: 2rem;
    }
  }

  &__list {
    text-align: left;
    margin-bottom: 2rem;
  }

  &__list-item {
    font-size: 1rem;
    line-height: 2rem;
    list-style: none;
    font-weight: 300;

    @media (min-width: $screen-md) {
      font-size: 1.5rem;
      line-height: 2.5rem;
    }
  }
}

/* 20. Vidguk */
.vidguk {
  color: $font-color;
  border-bottom: 1px solid #eee;
  padding-bottom: 3rem;
  margin-bottom: 3rem;

  @media (min-width: $screen-md) {
    display: flex;
  }

  &:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }

  h3 {
    margin-bottom: 1rem;

    @media (min-width: $screen-md) {
      text-align: left;
      font-size: 2rem;
    }
  }

  &__info {
    @media (min-width: $screen-md) {
      text-align: left;
    }
  }

  &__user {
    font-weight: bold;

    @media (min-width: $screen-md) {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
    }
  }

  &__image {
    margin-bottom: 2rem;
    padding: 1rem;
    border: solid 1px #ccc;
    transition: box-shadow .2s;

    &:hover {
      box-shadow: 0 0 13px rgb(0 0 0 / 15%);
    }

    @media (min-width: $screen-md) {
      margin-right: 3rem;
    }
  }

  &__article {
    color: $font-color;
    transition: opacity .2s;

    &:hover {
      opacity: .7;
      color: $font-color;
    }
  }

  &__avatar {
    background-color: #ccc;
    padding: 1rem;
    border-radius: 50%;
    display: inline-block;

    @media (min-width: $screen-md) {
      margin-right: .5rem;
      margin-bottom: 0;
    }
  }

  &__name {
    margin-bottom: .5rem;

    @media (min-width: $screen-md) {
      margin-right: .5rem;
      margin-bottom: 0;
    }
  }

  &__rating {
    margin-bottom: .5rem;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
    }
  }

  &__date {
    margin-bottom: 1rem;
    opacity: .5;
    font-size: 14px;
    color: #000;
    font-weight: 300;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
      margin-left: auto;
    }
  }

  &__description {
    line-height: 2rem;
  }
}

/* 21. WC shop */
.wcus-checkout-fields {
  display: block !important;
}