@import "../libs/reset/reset";
@import "./import";
@import "./variables";
@import "../libs/burger/burger";
@import "../libs/scroll-to-top/scroll-to-top";
@import "../../node_modules/owl.carousel/dist/assets/owl.carousel.min";

picture {
  display: inline-block;
}

a {
  text-decoration: none;
}

picture,
img {
  max-width: 100%;
}

html {
  font-size: 14px;
}

body {
  font-size: $font-size;
  color: $font-color;
  font-family: 'Roboto', sans-serif;
}

@keyframes revealRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes revealLeft {
  0% {
    opacity: 0;
    transform: translateX(100%)
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes line{
  0% {top:0}
  100% {top:10rem}
}

.social {
  margin-right: 2rem;

  &__item {
    display: inline-block;
    padding: 0.6rem .7rem .6rem .7rem;
    border-radius: 50%;
    border: 1px solid rgba(196,196,196,.3);
    transition: .2s;

    &:hover {
      border-color: $gold;
      background-color: $gold;
    }

    svg {
      path {
        fill: $white;
      }
    }
  }
}

.animate-revealright {
  opacity:0;
  animation: revealRight 1s cubic-bezier(0,1,.5,1) 1 normal forwards;
  animation-delay:1s;
}

.animate-revealleft {
  opacity:0;
  animation: revealLeft 1s cubic-bezier(0,1,.5,1) 1 normal forwards;
  animation-delay:1s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $white;
  z-index: 2;

  @media (min-width: $screen-md) {
    background-color: transparent;
  }

  &__top-bar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: none;

    @media (min-width: $screen-md) {
      display: flex;
    }
  }

  &__contacts {
    display: flex;
    justify-content: right;
    align-items: center;
  }

  &__phone {
    color: $white;
    margin-right: 1rem;
    font-size: 1rem;

    &:hover {
      color: $white;
    }
  }

  &__search {
    align-items: center;

    .searchform {
      margin-right: 1rem;
    }

    .screen-reader-text,
    input[type="submit"] {
      display: none;
    }

    input[type="text"] {
      color: $white;
      font-size: .9rem;
      background-color: rgba(255, 255, 255, .2);
      border: 0;
      padding: .7rem 1rem;

      &:focus {
        outline: 0;
      }

      &::placeholder {
        color: $white;
        text-transform: uppercase;
      }
    }

    .header__language-switcher {
      select {
        color: $white;
        cursor: pointer;

        option {
          color: $black;
        }
      }
    }
  }

  &__search {
    display: flex;
  }

  &__logo {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

    &--light {
      display: none;

      @media (min-width: $screen-md) {
        display: block;
      }
    }

    &--dark {
      @media (min-width: $screen-md) {
        display: none;
      }
    }
  }

  &__language-switcher {

    select {
      border: 0;
      background: transparent;
      text-transform: uppercase;
      font-size: .8rem;
      outline: 0;
    }
  }

  &__logo {
    picture,
    img {
      max-width: 100px;

      @media (min-width: $screen-md) {
        max-width: 140px;
      }
    }
  }

  &__menu {
    display: none;
    border-bottom: 1px solid rgba(255,255,255,.1);
    border-top: 1px solid rgba(255,255,255,.1);
    justify-content: center;
    align-items: center;

    @media (min-width: $screen-md) {
      display: flex;
    }
  }
}

.owl-carousel {
  margin-top: $header;
  overflow: hidden;

  @media (min-width: $screen-md) {
    margin-top: 0;
  }

  .owl-stage-outer,
  .owl-item {
    width: 100%;
  }

  &__item {
    position: relative;
  }

  .owl-nav {
    display: none;
  }

  .owl-dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;

    .owl-dot {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: $white;
      margin-right: 5px;

      @media (min-width: $screen-md) {
        margin-right: 15px;
      }

      &:hover,
      &.active {
        background-color: $gold;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__line {
    position: absolute;
    content: '';
    bottom: -17rem;
    left: 50%;
    height: 10rem;
    width: 2px;
    background-color: rgba(255,255,255,.35);
    overflow: hidden;
    display: none;

    @media (min-width: $screen-md) {
      display: block;
    }

    &:before {
      content: "";
      position: absolute;
      width: 2px;
      background-color: #fff;
      height: 4.5rem;
      animation: line 1s infinite;
    }
  }

  &__overlay {
    height: 250px;

    @media (min-width: $screen-sm) {
      height: 450px;
    }

    @media (min-width: $screen-md) {
      height: 650px;
    }

    @media (min-width: $screen-lg) {
      height: 850px;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $black;
      opacity: .5;
    }

    picture {
      width: 100%;
      height: 100%;

      source,
      img {
        max-width: unset;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  &__title {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 1.4rem;

    @media (min-width: $screen-sm) {
      font-size: 3rem;
    }

    @media (min-width: $screen-lg) {
      margin-bottom: 2.2rem;
    }
  }

  &__about {
    font-size: 1rem;
    margin-bottom: 1.2rem;

    @media (min-width: $screen-sm) {
      font-size: 1.4rem
    }

    @media (min-width: $screen-lg) {
      margin-bottom: 2.5rem;
    }
  }

  &__btn {
    border: solid 1px transparent;
    padding: .5rem 1rem;
    color: $white;
    display: inline-block;
    transition: border-color .2s;
    font-weight: bold;

    @media (min-width: $screen-sm) {
      font-size: 1.4rem;
    }

    @media (min-width: $screen-sm) {
      padding: 1rem 2rem;
    }

    &:hover {
      background: rgba(171, 114, 37, .2);
      border-color: $white;
      color: $white;
    }
  }

  &__description {
    text-align: center;
    color: $white;
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;

    @media (min-width: $screen-sm) {
      top: 10rem;
    }

    @media (min-width: $screen-md) {
      top: 15rem;
    }

    @media (min-width: $screen-lg) {
      top: 20rem;
    }
  }
}
