/* 2. General styless */
$padding-standart: 60px 0px;
$padding-small: 30px 0px;
$font-size: 16px;
$font-color: #333;
$black: #000;
$white: #fff;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xlg: 1400px;